* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container > div {
    margin-bottom: 120px;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu-list {
    float: left;
    list-style-type: none;
}

.menu-link {
    display: block;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.4px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    /*text-shadow: -0.5px 0px 1px transparent, 0.5px 0px 1px transparent, 0px 0.5px 1px transparent, 0px -0.5px 1px transparent;*/
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.menu-link::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    overflow: hidden;
    visibility: hidden;
}

.menu-link:hover,
.menu-link:focus {
    color: #212121;
    font-weight: bold;
    /*text-shadow: -0.5px 0px 1px #212121, 0.5px 0px 1px #212121, 0px 0.5px 1px #212121, 0px -0.5px 1px #212121;*/
}

.menu-link:hover::before,
.menu-link:focus::before,
.type-menu-link:hover::before,
.type-menu-link:focus::before {
    position: absolute;
    content: "";
    background-color: black;
    height: 3px;
    width: 100%;
    display: block;
    left: 0px;
    top: 24px;
}

.search {
    display: block;
    margin-left: 10px;
}

.slider-text {
    margin-top: 283px;
}

.slider-trending {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #43a047;
    text-transform: uppercase;
}

.slider-h2 {
    font-family: Montserrat;
    font-size: 62px;
    font-weight: 100;
    line-height: 62px;
    text-align: left;
    color: #212121;
    text-transform: uppercase;
}

.slider-content {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.button {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: #212121;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 22.5px;
    box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
    background-color: #ffffff;
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    color: #6c6c6c;
}

.button > img {
    height: 13px;
    margin-left: 22px;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #212121;
    margin-bottom: 0;
}

.ofers-1-menu {
    margin: 0 98px;
}

.tape-products {
    height: 270px;
    margin: 0 83px;
    padding-top: 50px;
}

.chair {
    width: 270px;
    height: 270px;
    float: left;
    margin: 0 15px;
}

.chair:first-child {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(img/product-1.jpg);
}

.white-circle-link {
    margin: 62px auto 19px;
    text-align: center;
    background-color: black;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    opacity: 0.9;
    border: solid 1px #9c9c9c;
    background-color: #ffffff;
}

.white-circle-link:hover {
    background-color: #6c6c6c
}

.white-circle-img {
    display: block;
    margin-top: 14px;
    margin-left: 18px;
    height: 20px;
    width: 12px;
}

.chair-title {
    margin-bottom: 23px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #212121;
}

.chair-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    color: #6c6c6c;
}

.to-all {
    float: right;
}

.tabs-list {
    list-style-type: none;
    float: left;
}

.tabs-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #6c6c6c;
    display: block;
    height: inherit;
}

.tabs-link-active {
    color: #212121;
    border-bottom: 3px solid black;
}

.tabs-link:active {
    color: #212121;
    border-bottom: 3px solid black;
}

.tabs {
    width: 300px;
    position: relative;
    height: 48px;
    border-bottom: 1px solid black;
    border-color: #6c6c6c;
    float: left;
}

.tabs > div {
    position: absolute;
    width: 187px;
    height: 46px;
}

.left-tab {
    z-index: 1;
}

.left-tab a {
    padding-left: 9px;
}

.right-tab {
    right: 0px;
}

.right-tab a {
    text-align: right;
    padding-right: 22px;
}

.promo {
    height: 683px;
}

.promo > div {
    height: inherit;
    width: 50%;
    background-repeat: no-repeat;
    float: left;
}

.promo-left {
    background-image: url(img/promo-img-1.jpg);
}

.promo-right {
    background-image: url(img/promo-img.jpg);
}

.promo-text {
    margin-left: 50px;
    margin-top: 228px;
}

.promo-name {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #212121;
}

.promo-tag {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #1e88e5;
    text-transform: uppercase;
}

.title {
    float: left;
}

.trending {
    margin-bottom: 90px !important;
}

.trending-title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #212121;
}

.to-all {
    padding-top: 18px;
}

.link-to-all {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-align: center;
    color: #212121;
    text-transform: uppercase;
    text-decoration: none;
}

.link-to-all:hover {
    color: #6c6c6c;
}


.trending-content {
    text-align: center;
    margin-top: 64px;
}

.trending-product {
    margin-left: 30px;
    margin-bottom: 30px;
}

.non-margin-left {
    margin-left: 0px;
}

.arrow_explore {
    height: 13px;
}

.slider-hot {
    height: 800px;
    background-image: url(img/slider.jpg);
    position: relative;
}

.hot {
    color: #e53935
}

.slider-hot-text {
    position: absolute;
    margin-top: 287px;
}

.exclusive {
    height: 570px;
}

.exclusive > div {
    height: 570px;
    width: 570px;
    float: left;
}

.exclusive-left {
    background-image: url(img/product-1-lg.jpg);
    margin-right: 30px;
}

.exclusive-img {
    display: block;
    float: left;
}

.app {
    background-image: url(img/back-img.jpg);
    height: 516px;
    position: relative;
    margin-bottom: 0 !important;
}

.app-text {
    width: 420px;
    position: absolute;
    margin-top: 125px;
}

.mobile-app {
    color: #6c6c6c;
}

.app-content {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
}

.footer {
    background-color: #f7f7f7;
    margin-bottom: 0 !important;
    height: 384px;
    position: relative;
}

.footer > div {
    position: absolute;
}

.information {
    top: 120px;
}

.information > div {
    float: left;
}

.contact {
    width: 300px;
    height: inherit;
}

.useful {
    width: 500px;
    height: inherit;
}

.email-form {
    height: inherit;
}

.email-form {
    width: 370px;
}

.copyright-band {
    text-align: center;
    bottom: 30px;
    width: 1170px;
}

.copyright-band * {
    display: inline-block;
}

.information-title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #6c6c6c;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.subscribe {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    color: #212121;
    margin-bottom: 26px;
}

.useful-link {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #212121;
    text-transform: uppercase;
    text-decoration: none;
}

.useful-link:hover {
    color: #6c6c6c;
}

.useful-link:active {
    color: red;
}

.copyright {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0.6px;
    text-align: right;
    color: #6c6c6c;
    text-transform: uppercase;
}

.go-left {
    float: left
}

.go-right {
    float: right;
}

.text-email {
    font-family: Montserrat;
    border: solid 1px #d9dee1;
    line-height: 48px;
    width: 370px;
    position: absolute;
    text-indent: 19px;
}

.email {
    position: relative;
}

.mail-button {
    background-color: white;
    border-color: transparent;
    outline-style: none;
    width: 50px;
    height: 48px;
    position: absolute;
    top: 1px;
    right: 1px;
}

.mail-button:focus {
    border-style: none;
    outline-style: none;
}

.text-email:focus {
    outline-style: none;
}

.first-col {
    width: 235px;
}

.link-soc {
    list-style-type: none;
}

.link-soc a {
    text-decoration: none;
    background-color: #6c6c6c;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.link-soc a:hover {
    background-color: black;
}

